.font {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: auto 7%;
}

.sendBtn {
  @extend .font;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  border-radius: 0px;
  height: 50px;
  width: 300px;

  &:hover {
    color: white !important;
    border-color: black !important;
    background-color: black;
  }
}

.block {
  display: block;
}

.item {
  padding-bottom: 2%;

  label {
    @extend .font;
    font-size: 16px !important;
    font-weight: 700;
    line-height: 20px;
  }

  input,
  textarea {
    @extend .font;
    border-radius: 0px;
    background-color: #f8f8f8;
    font-size: 16px;
    border: none;
    padding: 12px 10px 13px;
  }
}

.center {
  text-align: center;
}

.checkBox {
  margin-bottom: 0px;

  label {
    font-size: 16px !important;
  }
}

.contactSelect {
  div {
    border: none !important;
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
    height: 45px !important;
    padding: 7px 10px 13px !important;

    span {
      @extend .font;
      font-weight: 400 !important;
      font-size: 16px !important;
    }
  }
}

.link {
  @extend .font;
  color: #0085FF;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  &:hover {
    cursor: pointer;
    color: #0085FF;
  }
}

.error {
  text-align: center;
  color: red;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0px;
}

.hidden {
  display: none;
}

.title {
  @extend .font;
  color: #3b3b3b;
  margin: auto 25% 50px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .title {
    margin: auto auto 50px;
  }
}