.create_form {
  max-width: 1200px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #fff;
  padding: 31px 31px 0;
  .meta_image{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  .checkbox{
    margin-top: 30px;
    padding-bottom: 30px;
    span{
      color: #aaaaaa;
      font-size: 1rem;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .error_form{
    color: red;
    margin-top: 5px;
  }
  .third_button{
    margin-top:24px;
    display: flex;
    align-items: center;
  gap: 0 27px;
    justify-content: center
    // justify-content: space-evenly;
    
 }
}

.public,.inputId{
  display: contents;
}

