$primaryColor: #3f51b5;

.product {
  margin-left: 2%;
  margin-top: 2%;
}

.floatRight {
  float: right;
}

.eventElement {
  font-size: 17px;
  margin-bottom: 5%;
  padding: 4% 8%;
  width: 210px;
  height: 40px;

  &:hover {
    transition: all 0.2s;
    border-color: black !important;
  }

  &:focus {
    border-color: $primaryColor;
    box-shadow: none;
  }
}

.productButton {
  color: #fff !important;
  background-color: $primaryColor;
  border-color: $primaryColor !important;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 5% !important;
  text-transform: uppercase;
  border-radius: 4px;
  height: 40px;

  &:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}

.sortBy {
  font-size: 17px;
  text-transform: capitalize;
}

.table {
  font-size: 17px;
}

.iconProduct {
  font-size: 18px;
}

.margin{
  margin: 10px;
}