$bg: #0045c5;
$title: #888888;
$heading: #3b3b3b;
$border: #d6d6d6;

.content {
  padding: 0 15px;
  padding-bottom: 100px;
  .pagination {
    padding-top: 30px;
    text-align: center;
  }
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-date-type {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 0 10px;

  span:last-child {
    padding: 0 10px;
    text-transform: uppercase;
    background-color: $bg;
    color: #fff;
    cursor: pointer;
  }

  span:first-child {
    color: $title;
  }
}

.posts-left {
  .line {
    margin-bottom: 30px;
  }

  .img-post-left {
    width: 100%;
    height: 200px;
  }

  .card-title {
    margin-bottom: 20px;
    font-size: 100px;
    &-text {
      @extend .title;
      -webkit-line-clamp: 2;
      color: $heading;
      font-size: 18px;

      &:hover {
        color: $bg;
      }
    }
  }

  .card-desc {
    @extend .title;
  }
}

.Category {
  position: relative;

  h2 {
    color: $bg;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 5px;
    height: 5px;
    background-color: $bg;
    transform: rotate(45deg) translateY(41%);
  }

  &::after {
    content: '';
    position: absolute;
    right: 8px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background-color: $bg;
    transform: rotate(45deg) translateY(41%);
  }

  h2 {
    position: relative;
    padding-bottom: 14px;
    font-size: 20px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5px;
      width: 87%;
      height: 2px;
      background-color: $bg;
    }
  }
}

.list-item:nth-child(3) {
  .Category {
    &::after {
      content: '';
      position: absolute;
      right: 0px;
      bottom: 0;
      width: 5px;
      height: 5px;
      background-color: $bg;
      transform: rotate(45deg) translateY(41%);
    }
  }
}
.list-item:nth-child(2) {
  .Category {
    &::after {
      content: '';
      position: absolute;
      right: 8px;
      bottom: 0;
      width: 5px;
      height: 5px;
      background-color: $bg;
      transform: rotate(45deg) translateY(41%);
    }
  }
}
.list-item:nth-child(4) {
  .Category {
    &::after {
      content: '';
      position: absolute;
      right: -5px;
      bottom: 0;
      width: 5px;
      height: 5px;
      background-color: $bg;
      transform: rotate(45deg) translateY(41%);
    }
  }
}


.posts-right {
  .list-item {
    margin-bottom: 50px;
  }

  .title:hover {
    color: $bg;
  }

  
  .img-post-right {
    width: 100%;
    height: 58px;
  }

  

  .tag-content {
    padding: 12px 0 12px;
    border-bottom: 2px solid $border;

    .name {
      line-height: 46.22px;
      font-size: 15px;
      color: $heading;
      &:hover {
        color: $bg;
      }
    }

    .icon {
      font-size: 35px;
    }
  }
}

// detail
.detail-heading {
  h1 {
    color: $heading;
    font-size: 24px;
    line-height: 36px;
  }
  padding-bottom: 28px;
  border-bottom: 2px solid $border;
}

.content-detail {
  strong {
    padding-top: 12px;
    display: block;
  }
  h2 {
    padding-top: 10px;
  }
  p {
    padding-top: 10px;
  }
  div {
    padding-top: 25px;
  }
  font-size: 18px;
  line-height: 30px;
  img {
    display: block;
    width: 100%;
    height: 68.73%;
    object-fit: cover;
  }
}

.next-prev {
  margin-top: 36px;
  padding-bottom: 30px;
  .back {
    display: flex;
    gap: 0 10px;
    color: $heading;
    background-color: #f8f8f8;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    span {
      font-size: 40px;
      color: #fff;
      background-color: $bg;
      cursor: pointer;
    }
    p {
      width: 90%;
      @extend .title;
      -webkit-line-clamp: 2;
    }
  }
}

.bottom-detail-img {
  height:149px;
  padding-bottom: 15px;
}

.title-detail-bottom {
  @extend .title;
  -webkit-line-clamp: 2;
}
