//product
.productSearchOption {
  min-width: 132px;
  margin: 0% 5% 5% 3%;

  .ant-select-selector {
    &:hover {
      border-color: black !important;
    }
  }
}

.productForm {
  .ant-form-item-label label {
    font-size: 15px;
    padding-top: 15%;
  }

  .ant-select-focused {
    .ant-select-selector {
      border-color: #3f51b5 !important;
      box-shadow: none !important;
    }
  }

  .ant-select-selector {
    height: 40px !important;
  }

  .ant-select-in-form-item {
    height: 40px;
  }

  .ant-select-selection-item {
    padding-top: 3% !important;
  }
}

.selectProductForm {
  .ant-select-selector {
    height: 61px !important;

    .ant-select-selection-placeholder {
      padding: 14.5px 0px;
      font-size: 16px;
    }
  }

  .ant-select-in-form-item {
    &:hover .ant-select-selector {
      border-color: black !important;
    }
  }

  .ant-select-focused {
    .ant-select-selector {
      border-color: #3f51b5 !important;
      box-shadow: none !important;
    }
  }

  .ant-select-selection-item {
    border-radius: 50px;
    height: 35px;
    background-color: white;
    border-color: #f0f0f0;

    .ant-select-selection-item-remove,
    .ant-select-selection-item-content {
      padding-top: 5px;
      font-size: 16px;
    }
  }
}

.langSelectProductForm {
  width: 170px !important;

  .ant-select-selection-item {
    font-size: 16px;
    text-transform: capitalize;
  }

  .ant-select-selector {
    padding: 18.5px 16px !important;
    height: 70px !important;
  }

  &:hover .ant-select-selector {
    border-color: black !important;
  }

  .ant-select-focused {
    .ant-select-selector {
      border-color: #3f51b5;
      box-shadow: none;
    }
  }
}

.selectProductTypeForm {
  .ant-select-focused {
    .ant-select-selector {
      border-color: #3f51b5;
      box-shadow: none;
    }
  }

  .ant-select-in-form-item {
    &:hover .ant-select-selector {
      border-color: black !important;
    }
  }

  .ant-select-selector {
    padding-top: 2% !important;
    height: 61px !important;
    border: none !important;
    font-size: 14px;
    border-bottom: 1px solid #d9d9d9 !important;
    border-radius: 0%;
    box-shadow: none !important;

    .ant-select-selection-item {
      font-size: 16px;
    }
  }
}

.tableData {
  .ant-table-wrapper .ant-table-thead tr th {
    background-color: #3f51b5;
    color: white;
    height: 70px;
    font-weight: 500;
  }

  .ant-table-wrapper .ant-table-tbody tr td {
    height: 70px;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    height: 0px;
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    height: 0px;
  }

  .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child,
  .ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
    border-radius: 0%;
  }
}

.productDeletePopUp {
  width: 43% !important;

  .ant-modal-content {
    border-radius: 4px;
    padding: 20px 8px 8px 24px;
  }

  .ant-modal-header .ant-modal-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
  }
}

// Static pages
.static__pages {
  margin-bottom: 24px;

  .ant-btn-default {
    height: 36px;
    color: #fff;
    text-align: center;
    background-color: #3f51b5;
    font-weight: 500;
    border-radius: 6px;
  }
}

.static__form {
  .ant-form-item-label label {
    font-size: 16px;
    padding-top: 15%;
    font-weight: 500;
    color: #212121;
    margin-right: 24px;
  }

  .ant-select-focused {
    .ant-select-selector {
      border-color: #3f51b5 !important;
      box-shadow: none !important;
    }
  }

  .ant-select-selector {
    height: 40px !important;
    border-radius: 4px;
    width: 150px !important;
  }

  .ant-select-in-form-item {
    height: 40px;
  }

  .ant-select-selection-item {
    padding-top: 3% !important;
  }

  .ant-form-item-label > label::after {
    display: none;
  }
}

.form_tableantd {
  padding-top: 30px;

  //background table
  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper .ant-table-thead > tr > th {
    background-color: #303f9f !important;
    color: #fff;
  }

  //phân trang
  :where(.css-dev-only-do-not-override-k83k30).ant-pagination {
    margin-top: 30px !important;
    margin-right: 500px !important;
  }

  //iconblog
  .anticon-eye {
    font-size: 20px !important;
    color: #9c27b0;
  }

  .anticon-edit {
    font-size: 20px !important;
    text-decoration: none;
  }

  .anticon-delete {
    font-size: 20px !important;
  }

  // icon checkbox
  :where(.css-dev-only-do-not-override-k83k30).ant-checkbox .ant-checkbox-input {
    border: 1px solid black;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th {
    border-inline-end: unset;
  }
  //sửa css ngày 18/1/2023
  :where(.css-dev-only-do-not-override-sk7ap8).ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th {
    border-inline-end: unset;
  }
  .ant-table-thead > tr > th {
    color: white;
    background-color: #303f9f;
  }
  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th {
    border-inline-end: none;
  }
  :where(.css-dev-only-do-not-override-sk7ap8).ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-header
    > table
    > thead
    > tr
    > th {
    border-inline-end: unset;
  }
  :where(.css-dev-only-do-not-override-sk7ap8).ant-table-wrapper .ant-table-pagination-right {
    justify-content: center;
  }
}

////modal blog
.table_data {
  .ant-btn-default {
    // background-color: #fe2c55 !important;
    color: #fff;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }

  .ant-btn-default:hover {
    color: #fff !important;
  }

  .ant-btn-dangerous {
    background-color: #303f9f !important;
    color: #fff !important;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-pagination .ant-pagination-item a {
    display: block;
    padding: 0 22px;
    color: rgba(0, 0, 0, 0.88);
    transition: none;
  }
}

// banner
.form_table {
  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before,
  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper
    .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: unset;
    height: unset;
    background-color: unset;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: '';
  }

  padding-top: 30px;

  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper .ant-table-thead > tr > th {
    background: #3f51b5 !important;
    color: #fff;
  }
  :where(.css-dev-only-do-not-override-sk7ap8).ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    position: absolute;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    height: 0;
    background-color: #f0f0f0;
    transform: translateY(-50%);
    transition: background-color 0.2s;
    content: '';
  }
}

.banner_header {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  justify-content: space-between;
  align-items: center;

  :where(.css-dev-only-do-not-override-sk7ap8).ant-input:hover {
    border-color: #000;
    border-inline-end-width: 1px;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 35px;
    padding: 0 11px;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-select:not(.ant-select-disabled):not(
      .ant-select-customize-input
    ):not(.ant-pagination-size-changer):hover
    .ant-select-selector {
    border-color: #000;
    border-inline-end-width: 1px;
    outline: 0;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-btn-primary {
    color: #fff;
    background-color: #3f51b5;
    box-shadow: 0 2px 0 rgb(5 145 255 / 10%);
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    padding: 4px 15px;
    border-radius: 4px;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      background-color: #303f9f;
    }
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-select-single .ant-select-selector {
    box-sizing: border-box;
    margin: 0;

    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    // display: flex;
    border-radius: 4px;
    height: 36px;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin-bottom: 0;
    vertical-align: top;
  }
}

// banner Create
.create_banner {
  :where(.css-dev-only-do-not-override-sk7ap8).ant-input {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all 0.2s;
    margin-bottom: 0;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 40px;
    padding: 0 11px;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-select-single .ant-select-selector .ant-select-selection-item {
    padding: 0;
    line-height: 38px;
    transition: all 0.3s;
  }

  .upload_remove {
    display: flex;
    align-items: center;
    justify-content: center;

    :where(.css-dev-only-do-not-override-sk7ap8).ant-btn {
      padding: 12px 25px;
      box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
      font-weight: 600;
      border: none;
      outline: none;
      background-color: #3f51b5;
      color: #fff;
      text-transform: uppercase;

      &:hover {
        background-color: #303f9f;
        color: #fff;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
          0px 1px 10px 0px rgb(0 0 0 / 12%);
      }
    }
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-btn {
    font-size: 14px;
    height: unset;
    padding: 4px 15px;
    border-radius: 6px;
  }

  .option_btn {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: center;
      align-items: stretch;
      gap: 24px;

      .ant-btn-default {
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%),
          0px 1px 5px 0px rgb(0 0 0 / 12%);
        font-weight: 600;
        border: none;
        outline: none;
        padding: 8px 22px;
        text-transform: uppercase;

        &:first-child {
          background-color: #3f51b5;
          color: #fff;

          &:hover {
            background-color: #303f9f;

            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
              0px 1px 10px 0px rgb(0 0 0 / 12%);
          }
        }

        &:nth-child(2) {
          background-color: #f50057;
          color: #fff;

          &:hover {
            background-color: #c51162;
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
              0px 1px 10px 0px rgb(0 0 0 / 12%);
          }
        }

        &:last-child {
          background-color: #e0e0e0;
          color: rgba(0, 0, 0, 0.87);

          &:hover {
            color: rgba(0, 0, 0, 0.87);
            box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
              0px 1px 10px 0px rgb(0 0 0 / 12%);
          }
        }
      }
    }
  }
}

// modal banner
.bannerDeletePopUp {
  :where(.css-dev-only-do-not-override-sk7ap8).ant-btn-default:first-child {
    color: #fff;
    background-color: #3f51b5;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-btn-default:last-child {
    color: #fff;
    background-color: #f50057;
  }
}

.numberBashboard {
  margin: 0 !important;
}

//////////////////////////blog ui-------------------
.header_banner {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  justify-content: space-between;
  align-items: center;

  //input blog
  :where(.css-dev-only-do-not-override-k83k30).ant-input:hover {
    border-color: black;
    border-inline-end-width: 1px;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-input {
    padding: 6px 11px;
  }

  input blog:where(.css-dev-only-do-not-override-k83k30).ant-input:hover {
    border-color: black;
    border-inline-end-width: 1px;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-input {
    padding: 6px 11px;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 38px;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  :where(.css-dev-only-do-not-override-k83k30).ant-select-single.ant-select-show-arrow
    .ant-select-selection-placeholder {
    text-align: center;
  }

  //buttonblog
  .ant-btn-primary {
    margin-left: 1px;
    font-size: 0.875rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    height: 36px;
    width: 100px;
    text-align: center;
    background-color: #303f9f;
  }

  .ant-btn-primary:hover {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    background-color: #303f9f !important;
  }
}

@media only screen and (min-width: 1300px) {
  .icon_crud {
    .anticon svg {
      margin-left: -5px;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .icon_crud {
    .anticon svg {
      font-size: 20px;
      margin-left: 12px;
      display: inline-block;
    }
  }
}

//iconblog
.icon_crud {
  display: flex;
  flex-wrap: wrap;

  .anticon-eye {
    font-size: 20px;
    color: #9c27b0;
  }

  .anticon-edit {
    font-size: 20px;
    text-decoration: none;
  }

  .anticon-delete {
    font-size: 20px;
  }
}

///createblog css
.datepicker {
  border: none;
  border-bottom: 1px solid black;
}

.uploadimage {
  height: 25px;
  width: 70px;
  background-color: grey;
  text-align: center;
  border-radius: 5px;
}

.fileName {
  margin-top: 20px;
  color: black;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  // background-color:;
  border: 1px solid blue;
  width: 927px;
  height: 58px;
}

.file-search-button {
  margin-top: 35px;
}

.custom-file-upload {
  color: rgb(255, 255, 255);
  padding: 19px 50px;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3f51b5;
  border: none;
  margin-left: 30px;
  text-transform: uppercase;
}

.input_reset {
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  // border: 1px solid blue;
  //sửa ngày 18/1/2023
  width: 100%;
  height: 57px;
}

.button_reset {
  margin-left: 29px;
  height: 57px;
  min-width: 160px;
  color: white;
  background-color: #3f51b5;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  //chỉnh sửa ngày 18/1/2023
  text-transform: uppercase;
}

.input_antd {
  height: 57px;
}

.select_input {
  .ant-select-selector {
    //chỉnh sửa ngày 18/1/2023
    margin-top: -5px;
    height: 57px;
  }

  .ant-select-selector:hover {
    border-color: #3f51b5 !important;
  }
}

.total_reset {
  .ant-form-item-control-input-content {
    display: flex;
    margin-top: 24px;
  }
}

.button_create {
  // margin-left: 128px;
  height: 57px;
  width: 145px;
  color: white;
  background-color: #3f51b5;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.button_resetall {
  // margin-right: 120px;
  height: 57px;
  width: 145px;
  color: white;
  background-color: #f50057;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.button_cancel {
  height: 57px;
  width: 145px;
  color: black;
  background-color: #e0e0e0;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.editor_form {
  .tox .tox-tinymce {
    margin-top: 35px !important;
  }
}

.select_language {
  :where(.css-dev-only-do-not-override-k83k30).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 50px;
    padding: 0 11px;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-select-single .ant-select-selector .ant-select-selection-item,
  :where(.css-dev-only-do-not-override-k83k30).ant-select-single
    .ant-select-selector
    .ant-select-selection-placeholder {
    padding: 0;
    line-height: 48px;
    transition: all 0.3s;
  }
}

/////////////////////////////client voice
///
.table_voice {
  padding-top: 30px;

  //background table
  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper .ant-table-thead > tr > th {
    background-color: #303f9f !important;
    color: #fff;
  }

  //phân trang
  :where(.css-dev-only-do-not-override-k83k30).ant-pagination {
    margin-top: 30px !important;
    margin-right: 500px !important;
  }

  //iconblog
  .anticon-eye {
    font-size: 20px !important;
    color: #9c27b0;
  }

  .anticon-edit {
    font-size: 20px !important;
    text-decoration: none;
  }

  .anticon-delete {
    font-size: 20px !important;
  }

  // icon checkbox
  :where(.css-dev-only-do-not-override-k83k30).ant-checkbox .ant-checkbox-input {
    border: 1px solid black;
  }

  :where(.css-dev-only-do-not-override-k83k30).ant-table-wrapper
    .ant-table.ant-table-bordered
    > .ant-table-container
    > .ant-table-content
    > table
    > thead
    > tr
    > th {
    border-inline-end: unset;
  }
}

.form_button_voice {
  .ant-form-item-label label {
    font-size: 15px;
    padding-top: 15%;
  }

  .ant-select-focused {
    .ant-select-selector {
      border-color: #3f51b5 !important;
      box-shadow: none !important;
    }
  }

  .ant-select-selector {
    height: 40px !important;
  }

  .ant-select-in-form-item {
    height: 40px;
  }

  .ant-select-selection-item {
    padding-top: 3% !important;
  }

  .ant-form-inline {
    display: flex;
    flex-wrap: nowrap;
  }
}

.select_option_voice {
  min-width: 132px;
  margin: 0% 5% 5% 3%;

  .ant-select-selector {
    &:hover {
      border-color: black !important;
    }
  }
}

//////add  voice
.upload_remove_image {
  display: flex;
  justify-content: center;
}

.button_uploadimg {
  height: 57px;
  width: 180px;
  color: white;
  background-color: #3f51b5;
  font-size: 0.875rem;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.image_upload {
  //chỉnh sửa ngày 18/1/2023
  border: 1px solid black;
  height: 115px;
  .ant-form-item .ant-form-item-control-input {
    width: 300px;
  }
  .style_create_form__9jD1M .style_block_img__9GCQ1 img {
    height: 151px;
    border: 1px solid black;
  }
}

.ant-upload-list {
  display: none;
}
//sửa ccs ngày 18/1/2023
.container {
  display: flex;
  flex-wrap: nowrap;
}

#control-hooks_meta {
  height: 57px;
}

//userProduct
.modal {
  width: 1200px !important;

  .ant-modal-content {
    padding: 0% !important;
  }

  ul li {
    background-color: #c4c4c4;
  }

  li.slick-active button {
    background-color: var(--primary-color) !important;
  }

  .ant-modal-close {
    color: #fff;

    &:hover {
      background-color: var(--primary-color);
      color: var(--white-color);
      cursor: pointer;
    }
  }
}

.table_compare th.ant-table-cell:nth-child(2) {
  background-color: #0045c5 !important;
  color: #fff !important;
 }
 
 .table_compare .ant-table-cell:nth-child(2){
   border-left: 2px solid #0045c5 !important;
   border-right: 2px solid #0045c5 !important;
 }
 
 .table_compare tr:nth-child(8) .ant-table-cell:nth-child(2){
   border-bottom: 2px solid #0045c5 !important;
 }

 .Carousel-why .rec-arrow-left{
  position: absolute;
  left: 10%;
  z-index: 1;
}

.Carousel-why .rec-arrow-right{
  position: absolute;
  right: 10%;
  z-index: 1;
}

@media (max-width: 770px) {
  .Carousel-why .rec-arrow-left{
    left: 0;
  }
  
  .Carousel-why .rec-arrow-right{
    right: 0;
  }

  .Our_Products{
    a{
      display: block;
      img{
        max-width: 100% !important;
        max-height: 100% !important;
      }
    }
  }
}

.Carousel-why .biYdFZ{
  width: 87% !important;
  margin: 0 75px !important;
}

.Carousel-why .rec-pagination{
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.model_news .ant-modal-footer{
  display: none;
}

.model_news .ant-modal-header{
  background-color: #0045c5;
  color: #fff;
  border-bottom-width: 0;
  padding: 16px 20px 30px;
  margin-bottom: 30px;
  -webkit-box-align: start!important;
  border-bottom: 1px solid #d6d6d6;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  align-items: flex-start!important;
  .ant-modal-title{
    color: #fff;
    font-size: 30px;
  }
}

.model_news .ant-modal-content{
  padding: 0;
}

.model_news .ant-modal-close{
  color: #fff;
}

.model_news .ant-col:nth-child(2){
  padding: 30px !important;
}

.Carousel_why .style_swiper_slide__ScWhG{
  padding: 0;
}

.Carousel-why .sc-ftTHYK{
  margin: 0;
}

.table_compare .ant-table-cell:nth-child(2) {
  border-left: 2px solid #0045c5 !important;
  border-right: 2px solid #0045c5 !important;
}

.table_compare tr:nth-child(8) .ant-table-cell:nth-child(2) {
  border-bottom: 2px solid #0045c5 !important;
}

//  homepage

.wrapper__homepage {
  .ant-carousel .slick-dots li.slick-active button {
    background: #0045c5;
  }
  .ant-carousel .slick-dots li button {
    background: rgb(110, 109, 109);
    transition: width 250ms linear;
  }
}

.home-page__voice {
  .ant-carousel .slick-dots-bottom {
    bottom: 56px;
  }
}
